
// Colors

// ##Blue
$color-selago: #f5f9fd;
$color-hawkes-blue: #deeefc;
$color-tropical-blue: #bddcf8;
$color-jordy-blue: #91c6f4;
$color-cornflower-blue: #65afef;
$color-curious-blue: #248dE9;
$color-denim: #1e72bb;

// ##Gray
$color-white: #ffffff;
$color-chalk: #f9f9f9;
$color-athens-gray: #edf0f3;
$color-geyser: #dde2e7;
$color-ghost: #c7ccd2;
$color-regent-gray: #8b939b;
$color-nevada: #61676d;
$color-river-bed: #4b5862;
$color-mine-shaft: #333333;
