<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{{ site.baseurl }}css/grid.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/zoom.css">
    <script src="{{ site.baseurl }}js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<div class="header">
  <div class="header-stripe"></div>
  <div class="container">
    <div class="row np-top np-bottom pull-right">
      <div class="logo">
        <a href="{{ site.baseurl }}">Matt Bond</a>
      </div>
      <div id="tabs">
    		<ul class="nav-tabs">
          <li{% if page.section == 'work' %} class="active"{% else %} class="pull-right"{% endif %}><a href="{{ site.baseurl }}">Work</a></li>
          <li{% if page.section == 'about' %} class="active"{% else %} class="pull-right"{% endif %}><a href="{{ site.baseurl }}about">About</a></li>
    		</ul>
      </div>
    </div>
  </div>
</div>
